/* Add CSS styling here */
* {
  max-width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  border: 1px solid black;
  box-sizing: border-box;
}
header {
  width: 100%;
  display: flex;
  height: 5%;
}
nav {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 10%;
}
.navname {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-right: 40%;
  font-size: 2 rem;
}
.navlinks {
  display: flex;
  width: 30%;
}
.navlinks a {
  display: flex;
  width: 25%;
  text-decoration: none;
  color: white;
  background-color: lightblue;
  justify-content: center;
  text-shadow: 1px;
  font-weight: bold;
  align-items: center;
  font-size: 2 rem;
}

.myprojects {
  display: flex;
  height: 30%;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background: url(https://picsum.photos/) no-repeat; */
}
.myprojectsimage {
  display: flex;
  max-height: 40%;
  max-width: 100%;
}
.myprojectsimage .img {
  display: flex;
  width: 100%;
  height: 40%;
}
.bottomhalf {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 40vh;
  width: 100vw;
}
projectitems {
  display: flex;
  height: 40%;
  width: 70vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border: 1 px black;
}
.projectitems .image1 {
  display: flex;
  height: 10vh;
  width: 18vw;
  flex-direction: column;
  /* background: url(https://picsum.photos/150); */
}
.projectitems .image2 {
  display: flex;
  height: 10vh;
  width: 18vw;
  flex-direction: column;
  /* background: url(https://picsum.photos/150); */
}
.projectitems .image3 {
  /* background: url(https://picsum.photos/150); */
}
.projectitems .image4 {
  /* background: url(https://picsum.photos/150); */
}
.projectitems .image5 {
  /* background: url(https://picsum.photos/150); */
}
.projectitems .image6 {
  /* background: url(https://picsum.photos/150); */
}
footer {
  display: flex;
  justify-content: center;
  max-height: 10%;
  background-color: lightyellow;
}
footer a {
  display: flex;
  text-decoration: none;
  color: darkgray;
}
h2 {
  width: 100%;
}
